* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

input {
    color: azure;
    background-color: whitesmoke;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin:10px 0;
}

button{
    color: white;
    font-weight: bold;
    background-color: brown;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center ;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}