* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

input {
    color: brown;
    background-color: whitesmoke;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin:10px 0;
}

button{
    color: white;
    font-weight: bold;
    background-color: brown;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center ;
}

li {
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
}

li:hover {
    background-color: #f0f0f0;
}

.done {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}